@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --heading-size: 24px;
  --bg-black: "#303030";
  --effect-red-color: linear-gradient(
    95.69deg,
    #ac0000 0,
    #f00 26.35%,
    #ff3b3b 50.83%,
    #f00 72.71%,
    #f00 100%
  );
}
.dflex{
  @apply flex justify-between items-center
}
.cflex{
  @apply flex justify-center items-center
}
.black{
  @apply text-[#212427]
}